body{
    background-color: black;
    font-family: Bai Jamjuree;
    color: white;
}

footer {
    background-color: rgb(117, 109, 109);
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}